<header>
    <RadzenCard Style="margin-bottom: width: fit-content; min-width: 200px;" Class="mt-3 mb-3 mx-auto">
        <div class="row justify-content-between">
            <div class="col-4">
                <a href="/">
                    <img width="200" style="margin:0em 0em 0em 5em" src="/LogoVivida.png" runat="server" />
                </a>
            </div>
            <div class="text-center" style="margin:0em 10em 0em 0em">
                <RadzenMenu>
                    <RadzenMenuItem Text="Kostenangaben" Path="" Icon=""></RadzenMenuItem>
                    <RadzenMenuItem Text="Leistungen" Path="" Icon=""></RadzenMenuItem>
                    <RadzenMenuItem Text="Projekte" Path="" Icon=""></RadzenMenuItem>
                    <RadzenMenuItem Text="Unternehemen" Path="" Icon="">
                        <RadzenMenuItem Text="Kooperationen" Path="" Icon="">
                        </RadzenMenuItem>
                        <RadzenMenuItem Text="Qualifikationen" Path="" Icon="">
                        </RadzenMenuItem>
                        <RadzenMenuItem Text="Unser Büro" Icon=""></RadzenMenuItem>
                        <RadzenMenuItem Text="Aktuelles / Baurecht IBR-online" Path="" Icon=""></RadzenMenuItem>
                    </RadzenMenuItem>
                    <RadzenMenuItem Text="Kontakt" Path="" Icon=""></RadzenMenuItem>
                </RadzenMenu>
            </div>
            @* <div class="text-right">
                <a href="/">

                </a>
                </div>*@
        </div>
    </RadzenCard>
</header>