@inherits LayoutComponentBase


<header>
    <div>
        <Header />
    </div>
</header>
<div class="">
    <div class="main">
        <div class="content px-4">
            <Main/>
        </div>
    </div>
</div>
<footer id="footer">
    <Footer/>
</footer>
