@inherits LayoutComponentBase

<div class="wrapper">
    <header>
        <div>
            <Header />
        </div>
    </header>

    <div class="content">
        <div class="main">
            <div class="content px-4">
                <Main />
            </div>
        </div>
    </div>
    <footer class="footer">
        <Footer />
    </footer>
</div>

